[submodule ".tree-sitter.d/arduino"]
    path = .tree-sitter.d/arduino
    url = https://github.com/tree-sitter-grammars/tree-sitter-arduino
[submodule ".tree-sitter.d/bash"]
	path = .tree-sitter.d/bash
	url = https://github.com/tree-sitter/tree-sitter-bash
[submodule ".tree-sitter.d/c_sharp"]
	path = .tree-sitter.d/c_sharp
	url = https://github.com/tree-sitter/tree-sitter-c-sharp
[submodule ".tree-sitter.d/clojure"]
	path = .tree-sitter.d/clojure
	url = https://github.com/sogaiu/tree-sitter-clojure
[submodule ".tree-sitter.d/comment"]
	path = .tree-sitter.d/comment
	url = https://github.com/stsewd/tree-sitter-comment
[submodule ".tree-sitter.d/commonlisp"]
	path = .tree-sitter.d/commonlisp
	url = https://github.com/tree-sitter-grammars/tree-sitter-commonlisp
[submodule ".tree-sitter.d/cpp"]
	path = .tree-sitter.d/cpp
	url = https://github.com/tree-sitter/tree-sitter-cpp
[submodule ".tree-sitter.d/css"]
	path = .tree-sitter.d/css
	url = https://github.com/tree-sitter/tree-sitter-css
[submodule ".tree-sitter.d/csv"]
	path = .tree-sitter.d/csv
	url = https://github.com/tree-sitter-grammars/tree-sitter-csv
[submodule ".tree-sitter.d/diff"]
	path = .tree-sitter.d/diff
	url = https://github.com/tree-sitter-grammars/tree-sitter-diff
[submodule ".tree-sitter.d/dockerfile"]
	path = .tree-sitter.d/dockerfile
	url = https://github.com/camdencheek/tree-sitter-dockerfile
[submodule ".tree-sitter.d/doxygen"]
    path = .tree-sitter.d/doxygen
    url = https://github.com/tree-sitter-grammars/tree-sitter-doxygen
[submodule ".tree-sitter.d/elixir"]
	path = .tree-sitter.d/elixir
	url = https://github.com/elixir-lang/tree-sitter-elixir
[submodule ".tree-sitter.d/elm"]
	path = .tree-sitter.d/elm
	url = https://github.com/elm-tooling/tree-sitter-elm
[submodule ".tree-sitter.d/fsharp"]
	path = .tree-sitter.d/fsharp
	url = https://github.com/ionide/tree-sitter-fsharp
[submodule ".tree-sitter.d/gdscript"]
	path = .tree-sitter.d/gdscript
	url = https://github.com/PrestonKnopp/tree-sitter-gdscript
[submodule ".tree-sitter.d/gitattributes"]
    path = .tree-sitter.d/gitattributes
    url = https://github.com/tree-sitter-grammars/tree-sitter-gitattributes
[submodule ".tree-sitter.d/gleam"]
	path = .tree-sitter.d/gleam
	url = https://github.com/gleam-lang/tree-sitter-gleam
[submodule ".tree-sitter.d/go"]
	path = .tree-sitter.d/go
	url = https://github.com/tree-sitter/tree-sitter-go
[submodule ".tree-sitter.d/gpg"]
    path = .tree-sitter.d/gpg
    url = https://github.com/tree-sitter-grammars/tree-sitter-gpg-config
[submodule ".tree-sitter.d/haskell"]
    path = .tree-sitter.d/haskell
    url = https://github.com/tree-sitter/tree-sitter-haskell
[submodule ".tree-sitter.d/hcl"]
	path = .tree-sitter.d/hcl
	url = https://github.com/tree-sitter-grammars/tree-sitter-hcl
[submodule ".tree-sitter.d/html"]
	path = .tree-sitter.d/html
	url = https://github.com/tree-sitter/tree-sitter-html
[submodule ".tree-sitter.d/http"]
	path = .tree-sitter.d/http
	url = https://github.com/rest-nvim/tree-sitter-http
[submodule ".tree-sitter.d/java"]
    path = .tree-sitter.d/java
    url = https://github.com/tree-sitter/tree-sitter-java
[submodule ".tree-sitter.d/json"]
	path = .tree-sitter.d/json
	url = https://github.com/tree-sitter/tree-sitter-json
[submodule ".tree-sitter.d/julia"]
    path = .tree-sitter.d/julia
    url = https://github.com/tree-sitter/tree-sitter-julia
[submodule ".tree-sitter.d/just"]
	path = .tree-sitter.d/just
	url = https://github.com/casey/tree-sitter-just
[submodule ".tree-sitter.d/kotlin"]
	path = .tree-sitter.d/kotlin
	url = https://github.com/fwcd/tree-sitter-kotlin
[submodule ".tree-sitter.d/latex"]
	path = .tree-sitter.d/latex
	url = https://github.com/latex-lsp/tree-sitter-latex
[submodule ".tree-sitter.d/lua"]
    path = .tree-sitter.d/lua
    url = https://github.com/tree-sitter-grammars/tree-sitter-lua
[submodule ".tree-sitter.d/luadoc"]
	path = .tree-sitter.d/luadoc
	url = https://github.com/tree-sitter-grammars/tree-sitter-luadoc
[submodule ".tree-sitter.d/make"]
    path = .tree-sitter.d/make
    url = https://github.com/tree-sitter-grammars/tree-sitter-make
[submodule ".tree-sitter.d/meson"]
	path = .tree-sitter.d/meson
	url = https://github.com/tree-sitter-grammars/tree-sitter-meson
[submodule ".tree-sitter.d/nix"]
    path = .tree-sitter.d/nix
    url = https://github.com/nix-community/tree-sitter-nix
[submodule ".tree-sitter.d/ocaml"]
	path = .tree-sitter.d/ocaml
	url = https://github.com/tree-sitter/tree-sitter-ocaml
[submodule ".tree-sitter.d/pascal"]
	path = .tree-sitter.d/pascal
	url = https://github.com/Isopod/tree-sitter-pascal
[submodule ".tree-sitter.d/perl"]
	path = .tree-sitter.d/perl
	url = https://github.com/tree-sitter-perl/tree-sitter-perl
[submodule ".tree-sitter.d/php"]
	path = .tree-sitter.d/php
	url = https://github.com/tree-sitter/tree-sitter-php
[submodule ".tree-sitter.d/printf"]
    path = .tree-sitter.d/printf
    url = https://github.com/tree-sitter-grammars/tree-sitter-printf
[submodule ".tree-sitter.d/python"]
    path = .tree-sitter.d/python
    url = https://github.com/tree-sitter/tree-sitter-python
[submodule ".tree-sitter.d/query"]
    path = .tree-sitter.d/query
    url = https://github.com/tree-sitter-grammars/tree-sitter-query
[submodule ".tree-sitter.d/readline"]
	path = .tree-sitter.d/readline
	url = https://github.com/tree-sitter-grammars/tree-sitter-readline
[submodule ".tree-sitter.d/r"]
	path = .tree-sitter.d/r
	url = https://github.com/r-lib/tree-sitter-r
[submodule ".tree-sitter.d/regex"]
	path = .tree-sitter.d/regex
	url = https://github.com/tree-sitter/tree-sitter-regex
[submodule ".tree-sitter.d/requirements"]
    path = .tree-sitter.d/requirements
    url = https://github.com/tree-sitter-grammars/tree-sitter-requirements
[submodule ".tree-sitter.d/ruby"]
	path = .tree-sitter.d/ruby
	url = https://github.com/tree-sitter/tree-sitter-ruby
[submodule ".tree-sitter.d/rust"]
    path = .tree-sitter.d/rust
    url = https://github.com/tree-sitter/tree-sitter-rust
[submodule ".tree-sitter.d/scala"]
	path = .tree-sitter.d/scala
	url = https://github.com/tree-sitter/tree-sitter-scala
[submodule ".tree-sitter.d/scss"]
    path = .tree-sitter.d/scss
    url = https://github.com/tree-sitter-grammars/tree-sitter-scss
[submodule ".tree-sitter.d/ssh_config"]
    path = .tree-sitter.d/ssh_config
    url = https://github.com/tree-sitter-grammars/tree-sitter-ssh-config
[submodule ".tree-sitter.d/templ"]
	path = .tree-sitter.d/templ
	url = https://github.com/vrischmann/tree-sitter-templ
[submodule ".tree-sitter.d/toml"]
    path = .tree-sitter.d/toml
    url = https://github.com/tree-sitter-grammars/tree-sitter-toml
[submodule ".tree-sitter.d/typst"]
	path = .tree-sitter.d/typst
	url = https://github.com/uben0/tree-sitter-typst
[submodule ".tree-sitter.d/udev"]
    path = .tree-sitter.d/udev
    url = https://github.com/tree-sitter-grammars/tree-sitter-udev
[submodule ".tree-sitter.d/vim"]
    path = .tree-sitter.d/vim
    url = https://github.com/tree-sitter-grammars/tree-sitter-vim
[submodule ".tree-sitter.d/vimdoc"]
	path = .tree-sitter.d/vimdoc
	url = https://github.com/neovim/tree-sitter-vimdoc
[submodule ".tree-sitter.d/yaml"]
    path = .tree-sitter.d/yaml
    url = https://github.com/ikatyang/tree-sitter-yaml
[submodule ".tree-sitter.d/zig"]
    path = .tree-sitter.d/zig
    url = https://github.com/tree-sitter-grammars/tree-sitter-zig
