[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pre-commit = "*"
pynvim = "*"
vim-eof-comment = "*"
pip = "*"

[requires]
python_version = "3.14"
